<div class="sale-catalog">
    <ul class="menu">
        <li class="item"><a class="link" href="#">Всі акції <span class="quantity">(11)</span></a></li>
        <li class="item"><a class="link link-active" href="#">Побутова техніка <span class="quantity">(2)</span></a></li>
        <li class="item"><a class="link" href="#">Будматеріали <span class="quantity">(6)</span></a></li>
        <li class="item"><a class="link" href="#">Оздоблювальні матеріали <span class="quantity">(7)</span></a></li>
        <li class="item"><a class="link" href="#">Інструменти  <span class="quantity">(22)</span></a></li>
        <li class="item"><a class="link" href="#">Підлога <span class="quantity">(1)</span></a></li>
        <li class="item"><a class="link" href="#">Плитка <span class="quantity">(22)</span></a></li>
        <li class="item"><a class="link" href="#">Електротовари <span class="quantity">(12)</span></a></li>
        <li class="item"><a class="link" href="#">Сантехніка <span class="quantity">(1)</span></a></li>
        <li class="item"><a class="link" href="#">Двері <span class="quantity">(1)</span></a></li>
        <li class="item"><a class="link" href="#">Меблі <span class="quantity">(2)</span></a></li>
        <li class="item"><a class="link" href="#">Сад <span class="quantity">(5)</span></a></li>
        <li class="item"><a class="link" href="#">Госптовари <span class="quantity">(6)</span></a></li>
        <li class="item"><a class="link" href="#">Зоотовари <span class="quantity">(3)</span></a></li>
    </ul>
</div>