<div class="sale-list">
    <img class="banner" src="img/salebanner.png" alt="">
    <div class="sale-item">
        <div class="percent">%</div>
        <img src="img/salepic.png" alt="" class="pic">
        <div class="period">До 17 грудня</div>
        <div class="line"></div>
        <div class="name">Знижки на освітлення</div>
        <div class="desc">-10% на всі товари данного розділу! </div>
        <a href="" class="link-btn">Переглянути</a>
    </div>
    <div class="sale-item">
        <div class="percent">%</div>
        <img src="img/salepic.png" alt="" class="pic">
        <div class="period">До 17 грудня</div>
        <div class="line"></div>
        <div class="name">Знижки на освітлення</div>
        <div class="desc">-10% на всі товари данного розділу! </div>
        <a href="" class="link-btn">Переглянути</a>
    </div>
    <div class="sale-item">
        <div class="percent">%</div>
        <img src="img/salepic.png" alt="" class="pic">
        <div class="period">До 17 грудня</div>
        <div class="line"></div>
        <div class="name">Знижки на освітлення</div>
        <div class="desc">-10% на всі товари данного розділу! </div>
        <a href="" class="link-btn">Переглянути</a>
    </div>
    <div class="sale-item">
        <div class="percent">%</div>
        <img src="img/salepic.png" alt="" class="pic">
        <div class="period">До 17 грудня</div>
        <div class="line"></div>
        <div class="name">Знижки на освітлення</div>
        <div class="desc">-10% на всі товари данного розділу! </div>
        <a href="" class="link-btn">Переглянути</a>
    </div>
    <div class="sale-item">
        <div class="percent">%</div>
        <img src="img/salepic.png" alt="" class="pic">
        <div class="period">До 17 грудня</div>
        <div class="line"></div>
        <div class="name">Знижки на освітлення</div>
        <div class="desc">-10% на всі товари данного розділу! </div>
        <a href="" class="link-btn">Переглянути</a>
    </div>
    <div class="sale-item">
        <div class="percent">%</div>
        <img src="img/salepic.png" alt="" class="pic">
        <div class="period">До 17 грудня</div>
        <div class="line"></div>
        <div class="name">Знижки на освітлення</div>
        <div class="desc">-10% на всі товари данного розділу! </div>
        <a href="" class="link-btn">Переглянути</a>
    </div>
    <div class="sale-item">
        <div class="percent">%</div>
        <img src="img/salepic.png" alt="" class="pic">
        <div class="period">До 17 грудня</div>
        <div class="line"></div>
        <div class="name">Знижки на освітлення</div>
        <div class="desc">-10% на всі товари данного розділу! </div>
        <a href="" class="link-btn">Переглянути</a>
    </div>
</div>